<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.pob1.qa.testcases.Page1Test"/>
        <class name="com.pob1.qa.testcases.Page2Test"/>
         <class name="com.pob1.qa.testcases.Page3Test"/>
          <class name="com.pob1.qa.testcases.Page4Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
